body {
  background-image: url(gallery/background.jpg);
}

img {
  max-width: 300px;
}

#total {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
}

#right {
  margin-left: auto;
}

#title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background: royalblue;
  margin: 5px;
  padding: 5px;
}

#char-display {
  background: green;
  min-height: 300px;
  display: flex;
  flex-direction: row;
}

#first {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#name {
  background: red;
}

#button-house {
  display: flex;
  flex-direction: row;
}

#addl {
  background: purple;
  min-width: 30px;
  min-height: 30px;
  margin: 0 auto;
  position: absolute;
}

#input {
  background: yellow;
  padding: 5px;
  margin: 5px;
}

#team {
  max-width: 310px;
  min-width: 300px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  background: blue;
  margin: 5px;
  padding: 5px;
}

#leader {
  order: -1;
}
