/* Marvel color palette courtesy of color-hex.com/color-palette/6563 */

* {
  transition: .5s;
}

body {
  background-image: url(gallery/background.jpg);
  font-family: 'Chango', cursive;
}

div {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

img {
  max-width: 250px;
  border: 3px solid #504a4a;
}

button {
  /* Black Widow color palette courtesy of color-hex.com/color-palette/20731 */
  border: solid 1px #292929;
  background: #f0e3d3;
  color: #292929;
  transition: .5s;
}

button:hover {
  color: #f12821;
  font-size: 20px;
}

button:disabled {
  color: #ffc100;
  opacity: .5;
}

button:disabled:hover {
  font-size: unset;
}

#total {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
}

#title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0f0f0;
  color: #002d5c;
  background: rgba(135, 0, 0, 0.8);
  margin: 5px;
  padding: 5px;
  /* Captain America color palette courtesy of color-hex.com/color-palette/20730 */
}

#char-display {
  background: rgba(160, 96, 172, .8);
  min-height: 300px;
  display: flex;
  flex-direction: row;
  color: #030303;
  /* Hawkeye color palette courtesy of https://www.color-hex.com/color-palette/11367 */
}

#first {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#name {
  background: rgba(101, 106, 109, .8);
  padding: 5px;
  display: none;
}

#button-house {
  display: flex;
  flex-direction: row;
}

#addl {
  background: rgba(95, 104, 171, .8);
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
  display: none;
}

#input {
  max-width: 500px;
  background: rgba(103, 23, 34, .8);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #161f2e;
  color: #a2babe;
  padding: 5px;
  margin: 5px;
  /* Thor Odinson color palette courtesy of color-hex.com/color-palette/11365 */
}

#right {
  margin-left: auto;
}

#team {
  max-width: 310px;
  min-width: 300px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  background: rgba(121, 13, 13, .8);
  margin: 5px;
  padding: 15px;
  text-align: center;
  /* Iron Man color palette courtesy of color-hex.com/color-palette/4553 */
}

.team-member {
  background: rgba(190, 186, 70, .8);
}

#leader {
  order: -1;
}

#leader img {
  border: 10px ridge #518cca;
}
